
body {
    margin:0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}
.main{
    display: grid;
    height: 100%;
    box-sizing: border-box;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: rgb(25,146,212);
    color: white;
    grid-row: 1 / 3;
    padding: 1.2rem;
    display: grid;
    align-content: start;
    row-gap: 4rem;
}
.sidebar img {
    filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);
}
.sidebar .title {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    font-size: 2rem;
}
.sidebar li {
    list-style: none;
    margin-bottom: 1.2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.sidebar > ul {
    margin:0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 0.8rem;
}
.sidebar > ul img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.header {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 2rem;
    row-gap: 1.2rem;
    padding: 1rem 4rem;
    box-shadow: 0px 4px 5px #CCD1D8;
    z-index: 1;
}
.header > div {
    display: grid;
    /* grid-template-columns: 3fr 1fr; */
    grid-auto-flow: column;
    align-items: center;
}
.header input {
    height: 2.1rem;
    width: min(100%, 700px);
    border: none;
    border-radius: 1rem;
    background-color: #E2E8F0;
}

.header div:nth-child(1) {
    display: flex;
    justify-content: start;
    gap: 1rem;
}
.header div:nth-child(2) {
    margin-right: 1rem;
    justify-self: end;
    gap: 2rem;
}
.header div:nth-child(3) .avatar{
    width: 75px;
    height: 75px;
} 
.header div:nth-child(3) {
    justify-self: start;
    gap: 1.2rem;
}
.header div:nth-child(4) {
    gap: 2rem;
    justify-self: start;
}
.header button {
    border: none;
    height: 2.6rem;
    width: 6.5rem;
    border-radius: 2rem;
    background-color: rgb(25, 146, 212);
    color:white;
    font-weight: 700;
    font-size: 1rem;
}
.header p, h2 {
    margin: 0;
}


.header .avatar, .trending img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #e2e8f0;
    overflow: auto;
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding: 0.8rem 1.8rem 1.8rem 1.8rem;
    gap:2rem;
    grid-auto-rows: 14rem;
}
.side_content {
    padding: 1.8rem 1.8rem 1.8rem 0;
}
.announcements, .trending{
    padding: 2rem 1.6rem;
    border-radius: 0.8rem;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px 0px #bababa;
    
}

.announcements {
    margin-top: 0.8rem;
    margin-bottom: 3rem;
}
.announcements p {
    font-size: 0.8rem;
}
.announcements h5 {
    margin: 0;
    font-size: 0.9rem;
}
.announcements hr {
    margin: 0.8rem 0 0.8rem 0;
}
.card {
    /* border: 2px solid black; */
    padding: 2rem 2.2rem;
    border-radius: 0.8rem;
    background-image:
    linear-gradient(
      to right, 
      #f0b429,
      #f0b429 2%,
      #ffffff 2%,
      #ffffff 100%,
      #ffffff 100%
    );
    box-shadow: 1px 2px 4px 0px #bababa;
}
.card h3, p {
    margin: 0;
    padding: 0;
}
.card p, .announcements p, .trending_project {
    color: #666666;
    /* font-weight: 400; */
}
.card img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.card_icons {
    display: flex;
    justify-content: end;
    gap: 2rem;
    margin-top: 1.5rem;
}

/* .content h2 {
    position: absolute;
} */
.trending {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.trending .profile {
    display: flex;
    gap:1rem;
}
.trending_project {
    font-size: 0.9rem;
}
.trending {
    margin-top: 1rem;
}
/* .trending h3 {
    margin: 0 0 0.5rem 0;
} */

.side_content h3 {
    margin: 0;
}
#project_title {
    margin: 1.8rem 0 0 1.8rem;
    font-weight: 500;
    font-size: 1.3rem;
}
#announcement_title, #trending_title {
    font-weight: 500;
    font-size: 1.3rem;
}